.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grade-container {
	display: flex;
	flex-direction: column;

	> .title {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 16px;

		h2 {
			font-size: 1.75rem;
			font-weight: 600;
			letter-spacing: 0.3px;
			color: var(--secondary-text-color);
			display: flex;
		}

		> button {
			width: 36px;
			height: 36px;
			border-radius: 4px;
			border: 1px solid var(--primary-icon-color);
			cursor: pointer;
			background-color: transparent;

			@extend .flex-center;
		}
	}

	.front-content {
		padding: 16px;
		background-color: var(--white);
		border-radius: 8px;
		box-shadow: 0 2px 4px 0px var(--shadow);

		.title {
			max-width: 98%;

			input {
				width: 150px;
				max-width: 200px;
				border: 0;

				font-size: 1.375rem;
				color: var(--secondary-text-color);
				font-weight: 600;
				letter-spacing: 0.3px;
			}

			img {
				margin: 0 5px;
				cursor: pointer;
			}

			span {
				font-size: 1.375rem;
				color: var(--secondary-text-color);
				font-weight: 600;
				letter-spacing: 0.3px;
			}
		}

		.chapter {
			width: 100%;
			height: 48px;
			background-color: var(--tertiary-color);
			padding: 8px;
			border-radius: 4px;

			display: flex;
			justify-content: space-between;
			align-items: center;

			.chapter-info {
				display: flex;
				gap: 10px;

				.chapter-number {
					width: 20px;
					height: 20px;
					border-radius: 50%;
					border: 1px solid var(--secondary-icon-color);
					background-color: transparent;

					@extend .flex-center;
				}

				span {
					font-size: 1rem;
					font-weight: 600;
					color: var(--secondary-text-color);
					letter-spacing: 0.3px;
				}
			}

			.btn-actions {
				display: flex;
				gap: 4px;

				button {
					width: 32px;
					height: 32px;
					border: 0;
					border-radius: 50%;
					background-color: var(--secondary-color);
					cursor: pointer;

					@extend .flex-center;
				}
			}
		}
	}
}
